<script src='/socket.io/socket.io.js'></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src='/js/sockets.js'></script>


<h1 id="title"> test title </h1>
<button id='like'>I like you </button>